
* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
  font-family: 'Barlow', sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  color: #000;
  margin-right: 10px;
  font-size: 13px;
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}


.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}


.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}


.link-theme:before {
  background: #ff0000
}

.red-dot {
	color:red;
}

/* ------------------------------------------
  RESPONSIVE NAV
--------------------------------------------- */
.header {
	display: block;
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  max-width: 900px;
  top: 0;
  z-index: 1;
	overflow: hidden;
}

.header ul {
  margin: 0;
  padding: 0;
height: 1000px;
  list-style: none;

	z-index: 9999;
	text-align: center;
}

.header li a {
  display: block;
  padding: 50px 0px 0px 0px;
  font-size: 40px;
  text-decoration: none;
  font-weight: 300;
  color: #525252;

}


.header .logo {
  color: #000;
  display: block;
  float: left;
  font-size: 1.5em;
  margin: 10px 10px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.logo span {
	color:red;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #f2f2f2;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 1000px;

}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 875px) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
	font-size: 14px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: 0;

  }
  .header .menu-icon {
    display: none;
  }
}

@media all and (max-height: 480px) {
  .header li a {
	padding: 30px 0px 0px 0px;
	font-size: 24px;
	}

}

/* ------------------------------------------
  RESPONSIVE NAV END
--------------------------------------------- */


/* ------------------------------------------
  CAROUSEL
--------------------------------------------- */

.carousel {
    margin-top: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    max-width: 900px;
    max-height: 550px;
    overflow: hidden;
  position: fixed;

}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;

   background-color: #f2f2f2;
}


.carousel-item__image {
    width: 100%;
    height: 100%;
    order: 2;
    align-self: flex-end;
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(-100%);

}


.carousel-item--1 .carousel-item__image{
  background-image: url( ../images/dsjFrontHero.jpg);
}

.carousel-item--2 .carousel-item__image{
  background-image: url( ../images/dsjFront.jpg);
}

.carousel-item--3 .carousel-item__image{
  background-image: url( ../images/dim1Front.jpg);
}


.carousel-item--4 .carousel-item__image{
  background-image: url(' ../images/cabaret3.jpg');
}


.carousel-item--5 .carousel-item__image{
  background-image: url(' ../images/IAmHorror8.jpg');

}

.carousel-item--6 .carousel-item__image{
  background-image: url(' ../images/IAmHorror4.jpg');

}

.carousel-item--7 .carousel-item__image{
  background-image: url(' ../images/ppp1.jpg');
}



.carousel-item__container{

}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: .6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: .6s all ease-in-out;
    visibility: visible;

}



.active .carousel-item__image{
transition: .6s all ease-in-out;
transform: translateX(0);
}

/* ------------------------------------------
  CAROUSEL END
--------------------------------------------- */

/* ------------------------------------------
  GALLERY START
--------------------------------------------- */

.wrapper {

  width: 100vw;
	max-width:900px;
  height: 90vh;
	margin-top: 80px;

}
.title-section {

  text-align: center;
}
.title-section h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: #525252;
}
.gallery {
  margin: auto;
  width: 100%;

  /* originally 20px */
  padding-top: 0;
  text-align: center;
	padding-left: 20px;
    padding-right: 20px;
}
.gallery .item {
  width: 48%; /* Adjust for column and rows */
  height: 200px;
  background: #000;
  margin: 5px;
  overflow: hidden;
}
.gallery .item .desc {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 300ms ease;
  opacity: 0;
}
.gallery .item .desc h4 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  transition: all 300ms ease;
  transition-delay: 0.3s;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  margin: 0;
  padding: 0;
}
.gallery .item img {
  display: block;
  width: 100%;

  min-width: 100%;
  transition: all 700ms ease;
  -webkit-transform: translate(0, 0) scale(1.3);
          transform: translate(0, 0) scale(1.3);
}
.gallery .item:hover .desc {
  opacity: 1;
}
.gallery .item:hover .desc h4 {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.gallery .item:hover img {
  width: 100%;
  max-width: 100%;
  -webkit-transform: translate(0) scale(1.1);
          transform: translate(0) scale(1.1);
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

@media all and (max-width: 580px) {
  .gallery .item {
    width: 100%;
    height: 200px;
  }
}
.project-view {
  width: 70%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 400ms ease;
  z-index: 12;
}
.project-view .project-article-header {
  text-align: center;
  height: 30vh;
  background-size: 100% !important;
  position: relative;

}


.project-view .project-article-header .project-article-title {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.project-view .project-article-header .project-article-title h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}
.project-view .project-article-content {
  padding: 5%;
  max-width: 700px;
  margin: auto;
}
.project-view .project-article-content p {
  font-size: 1em;
}
.project-view .project-article-content img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.87);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease;
  z-index: 10;
}
.articles-navigation {
  position: fixed;
  top: 55px;
  left: 25px;
  height: 40px;
}
.close,
.next-btn,
.prev-btn {
  float: left;
}
.close {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close div {
  width: 60px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
}
.close div:nth-child(1) {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.close div:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}
.article-opened .project-view {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.article-opened .overlay {
  visibility: visible;
  opacity: 1;
}
#article-contents {
  display: none;
  visibility: hidden;
}

.project-view .project-article-content p {
	color: #525252;
	font-size: 0.8em;
}

iframe {
	min-height: 300px;
}


@media screen and (max-width: 750px) {
    iframe {
  		display: block;
  		margin: 20px auto;
  		max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}


/* ------------------------------------------
  GALLERY END
--------------------------------------------- */

/* ------------------------------------------
  CONTACT START
--------------------------------------------- */

.contact-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;

}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #000;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #ff2305;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;

		border-bottom-color: red;

}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.social-container {
  display: flex;
  align-items: center;
  justify-content: center;


}

.social-container > a {

	position: relative;
	text-decoration: none;
	    color: #525252;
      padding-right: 5px;
}

.social-container > a > p {
	position: relative;
	padding: 0;
	margin: 0;

  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.social-container > a img {

	vertical-align: middle;
	position: relative;
	width: 32px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
	transition: filter .3s ease;

}

.social-container > a img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.social-container > a p:hover {
color: #000;
}


@media all and (max-height: 520px) {
	#contact textarea {
  height: 50px;
	}
	#contact {
  background: #F9F9F9;
  padding: 5px 20px;
  margin: 50px 0px 0px 0px;
	}
	#contact h3 {
  font-size: 24px;
	}
}
/* ------------------------------------------
  CONTACT END
--------------------------------------------- */

/* ------------------------------------------
  ABOUT START
--------------------------------------------- */
.about-container {

	max-width: 900px;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	margin-top: 80px;
}

.darcy-img {
	max-width: 45%;
	float: left;
	padding: 0px 40px 0px 10px;
}
.about-container h2 {
	padding: 0px 20px;
  line-height: 1.1;
	font-weight: 400;
	font-size: 2em;
}

.about-container p {
	padding: 0px 20px;
  color: #8e8e8e;
  line-height: 1.5;
	font-weight: 300;
}
@media all and (max-width: 780px) {

	.darcy-img {
		max-width: 100%;
		float: none;
	}
}

/* ------------------------------------------
  ABOUT END
--------------------------------------------- */
